services:

  storage-static:
    image: nginx:alpine
    container_name: storage-static
    ports:
      - "8081:80"  # Доступ к картинкам будет по адресу http://localhost:8081
    volumes:
      - ./storage/static:/usr/share/nginx/html:ro  # :ro означает read-only (только чтение)
      - ./infra/static/default.conf:/etc/nginx/conf.d/default.conf:ro

  node-api-first:
    build: ./backend/api
    container_name: node-api-first
    ports:
      - "3000:3000"
    environment:
      SERVER_NAME: "First-Node-Server"
      PORT: 3000
    volumes:
      - ./backend/api/src:/usr/src/app


  node-api-second:
    build: ./backend/api
    container_name: node-api-second
    ports:
      - "3001:3000"
    environment:
      SERVER_NAME: "Second-Node-Server"
      PORT: 3000
    volumes:
      - ./backend/api/src:/usr/src/app